/*Importação das fontes*/
@font-face{
    font-family: Quicksand-Light;
    src: url(../FONTS/Quicksand-Light.ttf);
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;


}
:root{
    --color-light: #f4f4f4;
    --color-dark: #222;
    --color-orange: #ff6600;
    --color-orange-100: rgba(255, 102, 0, 0.4);
    --spacind-sm:10px;
    --spacind-md:30px;
}


html{
    scroll-behavior: smooth;
    font-family: Quicksand-Light;
}

ul, ol {
    list-style: none;
    
}

a {
    color: var(--color-light);
    font-weight: 800;
    text-decoration: none;
    
    &:hover{
        color: var(--color-orange);
    }
}



.hero {
    height: 100dvh;
    background-image: linear-gradient(to top, rgba(0,0,0, .8),rgba(0,0,0, .4)), 
    url(../images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.header-hero {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--spacind-md);
}

h1 {
    color: var(--color-light);
}

.nav-hero-menu {
    display: flex;
    gap: var(--spacind-md);
}

.cta {
    min-height:calc(100dvh - 100px);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: var(--spacind-md);
    color: var(--color-light);
    text-align: center;

}

.cta h2 {
    font-size: 7vmin;
    text-wrap: balance;
}

.cta p{
    width: 60%;
    text-wrap: balance;
    line-height: 1.6;

}

section {
    min-height: 100dvh;
}


.btn {
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange-100);
    padding: var(--spacind-sm) var(--spacind-md);
    border-radius: 100px;
    transition: 0.5;

    &:hover{
        background-color: transparent;
    }
}

.galeria {

    padding: var(--spacind-md);
    background-color: var(--color-dark);
    color: var(--color-light);
    h2  {
        margin-bottom: var(--spacind-md);
        font-size: 6vmin;
    }
    .grid-motos {
        columns: 3 300px;
    
        img {
            width: 100%;
            margin-block: var(--spacind-sm);
            border-radius: 8px;
            opacity: .5;
            filter: grayscale(1);
            transition: .5s;
            position: relative;

            &:hover{
                opacity: 1;
                filter: grayscale(0);
                scale: 1.1;
                z-index:1;
            }
        }
    }
}